:root {
  --primary-bg-color: hsl(0, 5%, 4%);
  --primary-text-color: hsl(0, 0%, 90%);
  --secondary-text-color: hsl(0, 60%, 50%);
  --nav-text-color: hsl(40, 10%, 50%);
  --border-color: hsl(40, 10%, 30%);
  --accent-color: hsl(0, 90%, 50%);
}

body {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  line-height: 1.5;
  background-color: var(--primary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
  padding: 10px 20px;
}

header h1 {
  font-size: 1.5rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.dropdown {
  position: fixed;
  top: 53px;

  background: var(--primary-bg-color);

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  width: 100%;
  padding: 15px 20px;

  overflow: hidden;

  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);

  transition:
    max-height 0.3s ease,
    opacity 0.2s ease,
    transform 0.3s ease,
    padding 0.3s ease;
}

.dropdown.open {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
}

.hamburger-menu {
  display: block;
}

.nav-desktop {
  display: none;
}

.nav-btn {
  color: var(--nav-text-color);
  font-size: 1.01rem;
  font-family: "Lora", serif;
}

#content {
  display: flex;
  flex: 1;
  color: #f2f2f2;
}

#home {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/pema-g-lama-6cfK0SEtpbY-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

#menu {
  flex: 1;
  background: hsl(0, 0%, 10%);
  padding: 80px 15px;
}

.menu__title {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--secondary-text-color);
}

.menu__item {
  font-family: "Lora", serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 0;
}

.menu__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item-title {
  font-size: 1.2rem;
}

.menu__item-price {
  color: var(--secondary-text-color);
}

.menu__item-desc {
  font-size: 0.9rem;
  color: hsl(0, 0%, 70%);
  margin-top: 0.3rem;
}

#contact {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Lora", serif;
  gap: 2rem;
}

#contact p {
  color: hsl(0, 0%, 70%);
  margin: 0;
}

.contact__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__icon {
  font-size: 1.2rem;
  color: var(--accent-color);
}

.content__eyebrow,
.content__tagline,
.content__subtitle {
  color: hsl(0, 0%, 70%);
  font-family: "Lora", serif;
}

.content__eyebrow {
  font-size: 1.1rem;
  word-spacing: 0.5rem;
}

.content__title {
  font-size: 3rem;
}

.content__subtitle {
  font-size: 1.2rem;
}

.content__tagline {
  font-size: 1.2rem;
}

.content__btn {
  border: 2px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  font-size: 1rem;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-family: "Lora", serif;
  font-weight: 700;
}

.content__btn:hover {
  background-color: hsla(0, 60%, 50%, 0.2);
}

.size-6 {
  height: 30px;
  color: var(--nav-text-color);
}

@media (min-width: 530px) {
  .hamburger-menu {
    display: none;
  }

  .dropdown {
    display: none;
  }

  .nav-desktop {
    display: flex;
    gap: 30px;
  }
}
